{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}
<h2>Registrar Mascota</h2>
<form  action="" id ="formularioMascota" method="POST">
    {% csrf_token %} 
    <label for="">Nombre Mascota</label>
    <input type="" name="txtNombres" id="txtNombres">
    <br>
    <br>
    <label for="">Raza</label>
    <select name="cboRaza" id="cboRaza">
        <option value="3">Seleccionar</option>

        {% for m in razas %}
        <option value="{{ m.id }}">{{ m.nombre }}</option>
        {% endfor %}
        
    </select>
    <br>
    <br>
    <label for="">Genero</label> 
    <input type="" name="txtGenero" id="txGenero">
    <br>
    <br>
    <label for="">Fecha Ingreso</label>
    <input type="date" name="dFechaIngreso" id="dFechaIngreso">
    <br>
    <br>
    <label for="">Fecha Nacimiento</label>
    <input type="date" name="dFechaNac" id="dFechaNac">
    <br>
    <br>
<label for="">Descripcion</label>
<input type="" name="txtDescripcion" id="txtDescripcion">
    <br>
    <br>
    <label for="">Estado</label>
    <select name="cboEstado" id="cboEstado">
        <option value="1">Seleccionar</option>
       
        {% for e in estados %}
        <option value="{{ e.id }}">{{ e.nombre }}</option>
        <option value="{{ m.id }}">{{ m.nombre }}</option>
        {% endfor %}

    </select>
    <br>
    <br>
    <input type="submit" value="Guardar" id="btnGuardar" name="btnGuardar">
</form>

<h3>{{ mensaje }}</h3>

{% endblock contenido %}